@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

/* ############### Genral Style ################# */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: 'Roboto Slab', serif;
  width: 11.5rem;
  height: 3rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border: none;
  border-radius: 5px;
  background-color: #0290ff;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

form {
  width: 100%;
  padding: 1.8rem 6.25rem;
}

/* ############### Styling ################# */
.App {
  width: 100%;
}

#header {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: bold;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.navbar {
  height: 6rem;
  padding: 0 6.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  color: #121212;
}

.navLink {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1.9px;
}

.userAvatar {
  width: 3rem;
  height: 3rem;
}

.userAvatar img {
  width: 100%;
}

.bookContainer {
  font-family: 'Roboto Slab', serif;
  margin: 2.5rem 0;
  padding: 0 6.25rem;
}

.bookList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bookItem {
  height: 8rem;
  padding: 2rem;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  border: solid 2px #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  height: 1.125rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: #121212;
}

.title {
  width: 12.313rem;
  height: 1.813rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #121212;
}

.lineBr {
  background-color: #e8e8e8;
  border: solid 1px #e8e8e8;
  margin: 0 6.25rem;
}

.formTitle {
  width: 10.875rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #888;
}

.formContainer {
  height: 3rem;
  margin-top: 1.2rem;
  display: flex;
  gap: 2.2rem;
}

#title,
#category {
  height: 100%;
  padding: 0 1rem;
  flex-grow: 1;
  width: 4.75rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #121212;
}

.option {
  color: #121212;
  margin: 1rem;
}
